#header {
  height: calc(100vh);
  position: relative;
  overflow: none;
}

.h {
  z-index: 1000;
  color: white;
  position: absolute;
  font-size: 100px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading-screen {
  background-color: black;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 1000ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-screen.fade-out {
  opacity: 0;
}

.circular-progress {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  opacity: 0;
  display: none;
  transition: opacity 200ms ease;
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
}

.loading-text {
  position: absolute;
  color: white;
  font-family: "Crimson Text", serif;
  font-size: 40px;
  opacity: 0;
  transition: opacity 400ms ease;
}

.circular-spinner {
  position: absolute;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(white 140deg, black 0deg);
  animation: spin 1s linear infinite;
  opacity: 1;
  transition: opacity 200ms ease;
}

.circular-spinner::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}