/* general modal styles */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  display: none;
}

.modal__container {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  background-color: black;
  border-radius: 35px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
}

.modal__header {
  padding: 48px;
  text-align: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 0.85;
}

.modal__para {
  font-size: 18px;
}

.modal__planets {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 16px;
}

.modal__planet {
  margin-bottom: 4px;
  width: min-content;
  cursor: pointer;
}

.modal__planet:hover {
  text-decoration: underline;
}

.modal__planet:last-child {
  margin-bottom: 0 !important;
}

.modal__footer {
  display: flex;
  padding: 32px;
  position: relative;
  border-top: 1px solid white;
}

.modal__footerButton {
  position: absolute;
  top: 12px;
  cursor: pointer;
}

.modal__footerButton--back {
  left: 32px;
}

.modal__footerButton--main {
  left: 50%;
  transform: translateX(-50%);
}

.modal__footerButton--next {
  right: 32px;
}

/* main-modal styles */

#modal-main {
  opacity: 0;
  transition: opacity 1000ms ease;
  width: 620px;
  z-index: 9999;
  color: white;
  pointer-events: none;
}

#modal-main.fade-in {
  opacity: 0.85;
  pointer-events: initial;
}

#modal-main.hide {
  opacity: 0 !important;
  pointer-events: none !important;
}

#modal-main.hide .mainModal__title {
  pointer-events: inherit;
}

#modal-main.hide .mainModal__para {
  pointer-events: inherit;
}

#modal-main.hide .mainModal__planet {
  pointer-events: inherit;
}

@media (max-width: 768px) {
  #modal-main {
    width: 75%;
  }
}

@media (max-width: 520px) {
  #modal-main {
    width: 390px;
  }
}

@media (max-height: 450px) {
  .modal__header {
    padding: 32px 36px;
  }
}
