.planetModal {
  opacity: 0;
  transition: opacity 1000ms ease;
  width: 620px;
  z-index: 9999;
  color: white;
  pointer-events: none;
  max-width: 550px;
}

.planetModal.fade-in {
  opacity: 0.85;
  pointer-events: all;
}

.planetModal__header {
  padding-top: 32px;
  padding-bottom: 0;
}

.planetModal__para {
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .planetModal {
    width: 75%;
  }
}

@media (max-width: 520px) {
  .planetModal {
    width: 390px;
  }
}

@media (max-height: 450px) {
  .planetModal__para {
    font-size: 16px;
  }
}